.App {
  font-family: sans-serif;
  text-align: left;
}
.ui{
  background-color: cadetblue;
  /* background: white; */
  
  background-position: center;
  width: auto;

}
.time1{
  color: blue;
  margin-top: 500px;
}
.tire{
  max-width: 450px;
}